@use '@/theme/mixins' as *;

.container {
  position: relative;
  &[data-background-video='true'] {
    pointer-events: none;
  }
}

.positioner {
  z-index: 0;
  @include aspect-ratio(var(--aspect-ratio));
  .container[data-background-video='true'] & {
    pointer-events: none;
  }
}

.playerWrapper {
  opacity: 0;
  transition: opacity 300ms ease;
  height: 100%;
  width: 100%;
  div[data-loaded='true'] > div > & {
    opacity: 1;
    transition-duration: 0ms;
  }
}

.player {
  --media-accent-color: var(--controls-color, var(--color-gold));
  --media-object-fit: var(--object-fit, cover);
  --media-object-position: var(--object-position, 50% 50%);
  --seek-backward-button: none;
  --seek-forward-button: none;
  --playback-rate-button: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  &::part(video),
  &::part(controller) {
    background-color: var(--background-color, #fff);
  }
  [data-is-playing='false'] &::part(play) {
    opacity: 1;
    pointer-events: all;
  }
  .container[data-background-video='true'] & {
    --controls: none;
    &::part(title) {
      display: none;
    }
  }
  // .container[data-variant='CONTENT_BLOCK'] & {
  //   [data-layout-orientation='TEXT_RIGHT'] & {
  //     --padding-left: calc(var(--nav-width) + 1.5rem);
  //   }
  //   [data-layout-orientation='TEXT_LEFT'] & {
  //     --padding-right: calc(var(--nav-width) + 1.5rem);
  //   }
  //   &::part(control-bar bottom),
  //   &::part(time range) {
  //     padding-top: 0.5rem;
  //     padding-bottom: 0.5rem;
  //     padding-left: var(--padding-left, 1.5rem);
  //     padding-right: var(--padding-right, 1.5rem);

  //     --media-control-padding: 6px;
  //     --media-control-height: 18px;
  //     --media-tooltip-container-margin: 18px;
  //     // padding-left: 1rem;
  //     // padding-right: 1rem;
  //   }
  //   &::part(control-bar bottom) {
  //     padding-bottom: 1.25rem;
  //   }
  //   &::part(title) {
  //     font-family: var(--ff-sans-serif);
  //     font-size: var(--fs-18);
  //     font-weight: 400;
  //     // font-style: italic;
  //     padding: 1em 1.5rem;
  //     height: auto;
  //   }
  // }
}

.posterWrapper {
  position: absolute;
  @extend %absolute-fill;
  background-color: var(--background-color, #fff);
  transition: opacity 300ms ease;
  opacity: 1;
  z-index: 1;
  pointer-events: none;
  .container[data-loaded='true'] > div > & {
    opacity: 0;
  }
}

.poster {
  position: absolute;
  @extend %absolute-fill;
  object-fit: var(--object-fit, cover);
  object-position: var(--object-position, 50% 50%);
}
