.section {
  background-color: var(--color-aqua);
  padding: var(--row-72) var(--gtr-36) var(--row-108);
}
.heading {
  font-size: var(--fs-48);
  margin: 0;
  font-weight: 300;
  text-align: center;
  color: var(--color-blueDark);
  &:after {
    content: '';
    width: 1em;
    height: 3px;
    display: block;
    background-color: #fff;
    position: relative;
    left: calc(50% - 0.5em);
    margin-top: 0.75em;
    margin-bottom: 0.333em;
  }
  em {
    font-style: normal;
    color: var(--color-orange);
  }
}
.figure {
  display: grid;
  margin: var(--row-54) 0 0;
}
.map {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  align-self: flex-start;
}
