@use '@/theme/mixins' as *;

.cookieBannerWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  .cookieBanner {
    background-color: var(--color-sand);
    padding: 0.75em 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    @include media('<ms') {
      flex-direction: column;
      gap: 0.75em;
      padding: 1em 1.25em;
    }
    .descriptionWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .description {
        margin: 0;
        font-size: var(--fs-18);
        font-weight: 500;
        font-family: var(--ff-display);
        line-height: 1.25;
        color: var(--color-blueDark);
        .mobileBreak {
          display: none;
          @include media('<m') {
            display: inline;
          }
        }
      }
    }
    .buttonWrapper {
      display: flex;
      align-items: center;
      gap: 1em;
      button {
        padding: 0.5em 1em;
        font-weight: 500;
        text-transform: uppercase;
      }
      .acceptButton {
        border: 2px solid var(--color-orange);
        background-color: var(--color-orange);
        color: white;
      }
      .declineButton {
        border: 2px solid var(--color-orange);
        color: var(--color-orange);
        background-color: transparent;
      }
    }
  }
}
