@use '@/theme/mixins' as *;

.space {
  position: relative;
  flex: 1;
  transition: flex 500ms ease;
  display: grid;
  align-items: flex-end;
  @media (hover: hover) {
    &:hover {
      flex: 3;
    }
  }
}
.imageWrapper {
  @include absolute-fill;
  .image {
    width: auto;
    height: 100%;
  }
  &:after {
    content: '';
    @include absolute-fill;
    @include scrim-gradient($direction: to top);
    opacity: 0.5;
    @include media('<m') {
      opacity: 0.75;
    }
  }
}
.content {
  position: relative;
  display: grid;
  align-content: flex-end;
  @include media('<m') {
    padding: 4em 0 0.5em;
  }
  .title {
    padding: 0 1em;
    margin: 1em 0 0.75em;
    text-align: center;
    font-family: var(--ff-brown);
    text-transform: uppercase;
    text-align: center;
    font-size: var(--fs-24);
    text-shadow: 0 0 0.25em #000000cc;
    @include media('<ml') {
      font-size: var(--fs-21);
    }
    &:after {
      content: '';
      width: 1em;
      height: 3px;
      display: block;
      background-color: var(--color-orange);
      position: relative;
      left: calc(50% - 0.5em);
      margin-top: 0.333em;
      margin-bottom: 0.333em;
    }
  }
  .descriptionWrapper {
    position: relative;
    height: 0px;
    opacity: 0;
    transition:
      height 500ms ease,
      opacity 300ms ease;
    overflow: hidden;
    @include media('<m') {
      height: auto;
      opacity: 1;
    }
    .description {
      width: calc((100vw - var(--gtr-36) * 2 - 2rem) / 7 * 3);
      box-sizing: border-box;
      padding: 0 2em 1.5em;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 54ch;
      text-shadow: 0 0 0.25em #000000cc;
      > *:first-child {
        margin-top: 0;
      }
      > *:last-child {
        margin-bottom: 0;
      }
      p {
        line-height: 1.5;
      }
      @include media('<ls') {
        font-size: var(--fs-16);
      }
      @include media('<m') {
        position: relative;
        width: 100%;
      }
    }
    @media (hover: hover) {
      .space:hover & {
        height: var(--description-height);
        opacity: 1;
        transition-delay: 0ms, 200ms;
        transition-duration: 500ms, 800ms;
      }
    }
  }
}
