@use './mixins' as *;
@use './variables' as variables;

@import 'normalize.css';

:root {
  --sans-serif:
    system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  --slab-serif:
    Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --serif:
    Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida,
    'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia,
    serif;

  --ff-body: var(--ff-brother-1816), var(--sans-serif);
  --ff-display: var(--ff-bitter), var(--serif);

  /* Font Sizes */
  --fs-144: calc(4rem + 6.667vw);
  --fs-108: calc(4rem + 4.167vw);
  --fs-84: calc(3.875rem + 2.6vw);
  --fs-72: calc(3.3125rem + 2.2375vw);
  --fs-60: max(3rem, 2.75rem + 1.875vw);
  --fs-54: max(2.75rem, 2.5rem + 1.5625vw);
  --fs-48: max(2.5rem, 2.25rem + 1.25vw);
  --fs-42: max(2.375rem, 2.125rem + 1vw);
  --fs-36: max(2.25rem, 2rem + 0.833vw);
  --fs-30: max(2rem, 1.5rem + 0.833vw);
  --fs-27: max(1.833rem, 1.5rem + 0.625vw);
  --fs-24: max(1.667rem, 1.5rem + 0.417vw);
  --fs-21: max(1.5rem, 1.25rem + 0.417vw);
  --fs-18: max(1.333rem, 1rem + 0.417vw);
  --fs-16: max(1.25rem, 0.8333rem + 0.417vw);
  --fs-15: max(1.167rem, 0.75rem + 0.417vw);
  --fs-14: 1.167rem;
  --fs-13: 1.0888rem;

  /* Padding/Gutters/Margins */
  --gtr-12: max(1.25vw, 0.5rem);
  --gtr-24: max(1.67vw, 0.75rem);
  --gtr-36: max(2.5vw, 1rem);
  --gtr-54: max(3.75vw, 2rem);
  --gtr-72: max(5vw, 3rem);
  --gtr-108: max(7.5vw, 4.5rem);
  --gtr-144: max(10vw, 6rem);

  --gtr: var(--gtr-36);

  --margin: var(--gtr-108);
  @include media('<m') {
    --margin: var(--gtr-72);
  }
  @include media('<s') {
    --margin: var(--gtr-54);
  }

  --row-18: calc(0.5rem + 0.2vw + var(--gtr-12));
  --row-36: calc(1rem + 0.416vw + var(--gtr-12));
  --row-54: calc(1.5rem + 0.625vw + var(--gtr-24));
  --row-72: calc(2rem + 0.833vw + var(--gtr-36));
  --row-108: calc(3rem + 1.25vw + var(--gtr-54));
  --row-144: calc(4rem + 1.67vw + var(--gtr-72));

  --grid-w: 100vw;
  --col-w: calc(
    (var(--grid-w) - 2 * var(--margin) - 11 * var(--gtr-36)) / 12
  );

  // Timing
  --bezier-bounce: cubic-bezier(0.33, 3, 0.25, 0.5);
  --bezier-ease-out: cubic-bezier(0.25, 0.5, 0.33, 1);
  --bezier-ease-in: cubic-bezier(0.67, 0, 0.75, 0.5);

  // Colors
  @each $name, $value in variables.$colors {
    #{"--color-" + $name}: $value;
  }
}

html {
  font-size: 12px;
  background-color: #000;
  font-family: var(--sans-serif);
  @include media('>l') {
    font-size: calc(9px + 0.21vw);
  }
  scroll-behavior: smooth;
  &:has(#scroll-toggle) {
    overflow: hidden;
  }
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-18);
  font-weight: 300;
  line-height: 1.5;
  min-height: 100vh;

  > main {
    position: relative;
    background-color: #fff;
  }

  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    pointer-events: none;
    background-color: transparent;
    transition: background-color 400ms ease;
  }
  &:has([data-mobile-menu-open='true']) {
    @include media('<s') {
      overflow: hidden;
    }
  }
  &:has([data-loading-modal='true']),
  &:has(dialog[open]) {
    overflow: hidden;
    &:after {
      background-color: rgba(#000, 0.9);
      transition-duration: 600ms;
    }
  }
  &:has(dialog[data-animating='CLOSING']) {
    &:after {
      background-color: transparent;
    }
  }
}

h1,
h2 {
  font-family: var(--ff-display);
  font-weight: 225;
  line-height: 1.1;
}

h2 {
  line-height: 1.125;
}
h3,
h4,
h5,
h6 {
  font-family: var(--ff-display);
  font-weight: 300;
  line-height: 1.125;
}
p {
  line-height: 2;
  font-weight: 300;
  @include media('<s') {
    line-height: 1.8;
  }
  a {
    display: inline-block;
    color: var(--color-gold);
    font-weight: 400;
    transition: color 200ms ease;
    &:hover {
      color: var(--color-goldTint2);
    }
  }
}
a {
  transition: color 300ms ease;
}
button {
  appearance: none;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  cursor: pointer;
  transition:
    color 300ms ease,
    background 300ms ease,
    border 300ms ease;
}
input,
textarea,
select {
  border-radius: 0;
  &:focus {
    outline: none;
  }
}
*:-webkit-autofill {
  &,
  &:hover,
  &:focus,
  &:active {
    transition: all 0s 99999s;
    border-radius: 0;
  }
}
