$breakpoints: (
  l: 1440px,
  ls: 1260px,
  ml: 1080px,
  m: 900px,
  ms: 720px,
  s: 540px,
);

$colors: (
  'blueDark': #003057,
  'orange': #f76918,
  'aqua': #a1def1,
  'sand': #f2e8d8,
  'sandDark': #b39460,
  'gray': #dadada,
  'grayDark': #484848,
  'grayMedium': #d9d9d9,
  'grey': #929292,
  // From 100 coaches agency - Maybe to be replaced later
  'gold': hsl(39, 77%, 60%),
  'goldShade1': hsl(36, 73%, 54%),
  'goldShade2': hsl(32, 67%, 46%),
  'goldShade3': hsl(29, 62%, 40%),
  'goldShade4': hsl(29, 62%, 30%),
  'goldTint1': #f5bd5d,
  'goldTint2': #ffcc73,
  'goldTint3': #ffda99,
  'goldTint4': #f9eedf,
  'brownText': #260a03,
  'gray97': hsl(0, 0%, 97%),
  'gray95': hsl(0, 0%, 95%),
  'gray90': hsl(0, 0%, 90%),
  'gray85': hsl(0, 0%, 85%),
  'gray75': hsl(0, 0%, 75%),
  'gray60': hsl(0, 0%, 60%),
  'gray50': hsl(0, 0%, 50%),
  'gray40': hsl(0, 0%, 40%),
  'gray30': hsl(0, 0%, 30%),
  'gray20': hsl(0, 0%, 20%),
  'gray10': hsl(0, 0%, 10%),
);
