@use '@/theme/mixins' as *;

.modal {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  background: transparent;
  overflow: auto;
  &::backdrop {
    display: none;
  }
}

.backdrop {
  position: absolute;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  cursor: default;
  transition: opacity var(--close-duration, 1000ms) ease;
  opacity: 0;
  background-color: black;
  [data-animating='OPEN'] & {
    opacity: 0.5;
    transition-duration: var(--open-duration, 500ms);
  }
}

.contentWrapper {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  margin: 1rem var(--margin);
  display: grid;
  opacity: 0;
  transform: translate3d(-20rem, 0, 0);
  transition:
    opacity var(--close-duration, 1000ms) ease,
    transform var(--close-duration, 1000ms) var(--bezier-ease-out);
  [data-animating='OPEN'] & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-duration: var(--open-duration, 500ms);
  }
  [data-animating='CLOSING'] & {
    transform: translate3d(-20rem, 0, 0);
  }
  [data-variant='VIDEOLIGHTBOX'] & {
    margin: 0;
  }
  @include media('<s') {
    margin: 0.5rem;
  }
  [data-variant='ARTICLE'] & {
    margin: 0;
    justify-self: flex-start;
    border: 0.75em solid var(--color-sand);
  }
}

.content {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  display: grid;
  [data-variant='PROFILE'] & {
    background: transparent;
  }
  [data-variant='FORM'] & {
    background: linear-gradient(to top right, #222, #555);
  }
  [data-variant='VIDEOLIGHTBOX'] & {
    background: transparent;
  }
}

.closeButton {
  [data-variant='ARTICLE'] & {
    position: absolute;
    top: -0.25em;
    right: -0.25em;
    background: transparent;
    border: none;
    color: var(--color-sandDark);
    font-size: var(--fs-54);
    cursor: pointer;
    z-index: 1;
    display: flex;
    background-color: var(--color-sand);
  }

  [data-variant='DEFAULT'] & {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 10;
    justify-self: flex-end;
    align-self: flex-start;
    position: sticky;
    top: 1rem;
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 2rem; /* Adjust font size as needed */
    color: #000;
    svg {
      width: 100%;
      height: 100%;
      transition: transform 600ms var(--bezier-bounce);
      path {
        stroke-width: 1.75px;
        stroke: currentColor;
      }
    }
    @media (hover: hover) {
      &:hover {
        color: var(--color-gold);
        svg {
          transform: scale3d(1.2, 1.2, 1);
        }
      }
    }
  }
}
