@use '@/theme/mixins' as *;

.lightboxModalWrapper {
  pointer-events: all;
  font-size: var(--fs-18);
  width: 100vw;
  max-width: calc(83ch + 2 * var(--gtr-72));
  box-sizing: border-box;
  padding: var(--gtr-36) var(--gtr-72);
  .title {
    font-size: var(--fs-48);
    color: var(--color-blueDark);
    margin-top: 0.5em;
    margin-bottom: 0;
    font-weight: 400;
    em {
      display: block;
      font-style: normal;
    }
  }
  .line {
    border: 2px solid var(--color-orange);
    margin: 1em 0;
    width: 10%;
  }
  p, li, ul {
    margin: 0;
    margin-bottom: 0.5em;
    line-height: 2;
    font-size: var(--fs-18);
    &:last-child {
      margin-bottom: 0;
    }
    strong {
      font-weight: 600;
    }
    em {
        strong {
            font-size: var(--fs-24);
            font-style: normal;
        }
    }
  }
  hr {
    border: 2px solid var(--color-orange);
    margin: 2.2em auto 1.4em;
    width: 40%;
  }
}
