@use '@/theme/mixins' as *;

.body {
  padding: 1.25em 0.75em 1em;

  @include media('<ls') {
    padding: 0.5em 0.5em 1em;
  }

  @include media('<m') {
    padding: 0.75em 0.5em 1.5em;
  }

  .selectbox {
    font-size: var(--fs-30);
    font-family: var(--ff-display);

    @include media('<ms') {
      font-size: var(--fs-24);
      display: flex;
      justify-content: center;
    }

    > div {
      display: inline-block;
      position: relative;
      transition: color 200ms ease;
      font-weight: 400;
      &:hover,
      &:focus-within {
        color: var(--color-goldShade1);
      }
      > span > svg {
        transform: translateY(0.2em);
        color: var(--color-grayMedium);
      }
    }
    > span {
      color: #555;
      display: inline-block;
      margin-right: 0.5em;
    }
    select {
      @include absolute-fill;
      width: 120%;
      height: 120%;
      left: auto;
      right: 0;
      appearance: none;
      border: none;
      color: transparent;
      background: transparent;
      cursor: pointer;
      > option {
        font-size: var(--fs-18);
        color: black;
        padding: 0.1em;
      }
    }
    .category {
      display: flex;
      justify-content: space-around;
      gap: 1em;
      border-bottom: 1px solid var(--color-grayMedium);
    }
  }

  .articlesWrapper {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;

    @include media('<m') {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 0.6em;
    }

    @include media('<ms') {
      grid-template-columns: repeat(1, 1fr);
      gap: 0.75em;
      margin-top: 0.5em;
    }

    .articleCard {
      display: flex;
      flex-direction: column;
      padding: 0.1em;
      background-color: color-mix(
        in srgb,
        var(--color-sand) 20%,
        transparent
      );
      height: 6.5em;
      cursor: pointer;
      transition: all 300ms ease;
      text-decoration: none;
      &:hover {
        background-color: color-mix(
          in srgb,
          var(--color-sand) 60%,
          transparent
        );
      }

      @include media('<m') {
        height: 6.5em;
      }

      @include media('<ms') {
        height: 7.5em;
      }

      .thumbnail {
        flex: 0 0 auto;
      }

      .articleBody {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0 0.1em;
        overflow: auto;

        .info {
          flex: 0;
          display: flex;
          align-items: center;
          font-size: var(--fs-16);

          @include media('<m') {
            font-size: var(--fs-15);
          }

          .category {
            font-family: var(--ff-nav);
            font-weight: 500;
            color: var(--color-orange);
            text-transform: uppercase;
            line-height: 1.25;
            padding-right: 0.5em;
            border-right: 1px solid var(--color-grayMedium);
          }

          .publishDate {
            padding-left: 0.5em;
            font-family: var(--ff-nav);
            font-weight: 500;
            color: var(--color-grayDark);
            line-height: 1.25;
          }
        }
        .title {
          flex: 1;
          margin: 0;
          font-size: var(--fs-24);
          font-weight: 400;
          color: var(--color-blueDark);
          line-height: 1.25;

          @include media('<m') {
            font-size: var(--fs-21);
          }
        }
        .publisher {
          flex: 0;
          margin: 0;
          padding: 0.75em 0;
          border-top: 1px solid var(--color-grayMedium);
          font-size: var(--fs-21);
          line-height: 1.25;
          font-weight: 400;
          color: color-mix(
            in srgb,
            var(--color-blueDark) 75%,
            transparent
          );
        }
      }
    }
  }
}
