@use '@/theme/mixins' as *;

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  opacity: 0.71;
}
.imageWrap {
  @extend %absolute-fill;
  z-index: 0;
  opacity: 0;
  transition:
    opacity 0ms linear var(--transition-duration),
    transform 0ms linear var(--transition-duration);
}
.active {
  z-index: 1;
  opacity: 1;
  transition:
    opacity var(--transition-duration) ease,
    transform calc(var(--slide-duration) + var(--transition-duration))
      ease-out;
}
.image {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
