@use '@/theme/mixins' as *;

.section {
  position: relative;
  min-height: 100vh;
  color: white;
  font-size: var(--fs-72);
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  background: linear-gradient(to bottom right, #333, #111);
  @include absolute-fill;
  z-index: 1;
  pointer-events: none;
}
.logoWrap {
  position: relative;
  z-index: 2;
  justify-self: center;
  align-self: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.3em;
}
.logoWrapInner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media('<m') {
    width: 4em;
    height: 2.5em;
  }
}
.heading {
  display: flex;
  justify-content: center;
  margin-top: 1.25em;
  @include media('<m') {
    font-size: 0.5em;
  }
  > div {
    width: 70%;
    font-size: var(--fs-60);
    font-family: var(--ff-brown);
    margin-bottom: 0;
    z-index: 2;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    white-space: normal;
    word-break: break-word;
    @include media('<m') {
      font-size: var(--fs-30);
      font-weight: 400;
      width: 80%;
    }
  }
}
