@use '@/theme/mixins' as *;

.container {
  grid-area: 1 / 1 / 2 / 2;
  justify-self: flex-end;
  align-self: center;
  display: grid;
  align-content: flex-start;
  gap: 1.25em;
  z-index: 2;
  background-color: #fff;
  padding: 2em 1.5em;
  color: var(--color-blueDark);
  margin: var(--gtr-36);
  @include media('<ms') {
    display: block;
    columns: 2;
    grid-area: 2 / 1 / 3 / 2;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
}
.title {
  margin: 0;
  font-family: var(--ff-brown);
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-orange);
  padding-bottom: 0.5em;
  font-size: var(--fs-21);
  column-span: all;
  @include media('<ms') {
    margin-bottom: 1em;
  }
}
.list {
  margin: 0;
  padding: 0;
  padding-left: 1.25em;
  li {
    margin: 0.667em 0;
    line-height: 1.333;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  ::marker {
    font-weight: 700;
  }
  @include media('<ms') {
    font-size: var(--fs-15);
    display: block;
    margin-top: 1em;
    &:first-of-type {
      margin-top: 0;
    }
  }
}
