@use '@/theme/mixins' as *;

.privacyPolicy {
  padding: 2em;
  .heading {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: var(--fs-36);
    color: var(--color-blueDark);
  }
  > p {
    margin: 0;
    margin-bottom: 0.5em;
    line-height: 1.5;
    font-size: var(--fs-18);
    color: var(--color-blueDark);
  }
}
